@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
body{
	background  : #3F70BA url("images/background.png") repeat repeat;
	padding     : 20px 30px 30px 30px;
	color       : rgba(255,255,255,1);
	animation   : scrolling 3s linear infinite;
	height      : 100% !important;
}
body,select,input{
	font        : 1em 'Comfortaa';
}
*{
	margin      : 0;
	padding     : 0;
}
section{
	background    : rgba(0,0,0,0.5);
	margin        : 15px 0 15px 0;
	border        : 2px solid rgba(131,172,234,1);
	max-width     : 1000px;
}
section div,section p{
	padding       : 20px;
}
section div:first-of-type{
	border-bottom : 2px dashed rgba(131,172,234,0.5);
}
section h2{
	padding		: 5px 10px 5px 10px;
	font-size   : 1.2em;
	background  : rgba(0,0,0,0.5);
}
section div h3{
	margin      : 0 0 10px 0;
}
@keyframes scrolling{
  from{background-position: 0 0;}
  to  {background-position: 32px 32px;}
}
/*===================================*/
/* FORMS                             */
/*===================================*/
label,legend{
	-moz-user-select : none;
	user-select      : none;
}
input,textarea,select{
	background  : rgba(255,255,255,0.1);
	border      : 0;
	border-radius : 6px;
	font-size   : 1em;
	color       : rgba(255,255,255,0.7);
	padding     : 4px;
}
label:hover{
	color         : rgba(245,216,181,1) !important;
}
input:hover,input:focus,select:focus,select:hover,textarea:hover,textarea:focus{
	outline       : none;
	color         : rgba(245,216,181,1) !important;
	border-color  : rgba(0,0,0,255);
	background    : rgba(0,0,0,1) !important;
}
input[type=checkbox]:checked+label{
	color         : rgba(245,216,181,1);
}
input[type=checkbox]:hover,input[type=checkbox]:focus,input[type=radio]:hover,input[type=radio]:focus{
	outline       : 1px dashed rgba(228,174,126,1) !important;
}
input[type=radio],input[type=checkbox]{
	transform    : scale(1.4);
}
/*===================================*/
/* APP FORM - OPTIONS                */
/*===================================*/
fieldset li{
	list-style    : none;
	display       : grid;
	grid          : none / 20px 1fr;
	grid-gap      : 5px;
}
fieldset ul li label{
	margin        : -2px 0 8px;
}
fieldset input[type=checkbox]{
	width        : 14px;
	height       : 14px;
}
/*===================================*/
/* APP FORM                          */
/*===================================*/
#main form{
	display       : grid;
	grid          : none / 0.3fr 1fr;
	grid-gap      : 15px;
}
#main form div:nth-of-type(2){
	max-width     : 700px;
}
fieldset label{
	color        : rgba(255,255,255,0.7);
	margin-top   : 4px;
}
fieldset section{
	display      : grid;
	grid         : none / 120px 1fr;
	grid-gap     : 5px;
	background   : none;
	margin       : 0 0 10px;
	border       : 0;
}
fieldset label span{
	font-size    : 0.8em;
	color        : rgba(255,255,255,0.5);
}
fieldset{
	background    : #153567;
	border        : 2px solid #153567;
	border-radius : 6px;
	margin-bottom : 20px;
	padding       : 10px 30px 10px 15px;
}
fieldset legend{
	font-family : 'Alegreya Sans SC', sans-serif;
	font-size   : 1.1em;
	margin-left : -17px;
	cursor      : pointer;
	border-radius: 6px;
	background  : #153567;
	color       : rgba(255,255,255,1);
	padding     : 5px 10px 5px 10px;
}
fieldset legend label{
	cursor      : pointer;
}
fieldset fieldset{
	background  : none;
	border      : 1px solid rgba(255,255,255,0.1);
	margin-bottom : 0px;
	padding-bottom: 5px;
}
/*===================================*/
/* COLLAPSIBLE                       */
/*===================================*/
fieldset>input{
	display : none;

}
fieldset>input:checked~legend label{
	color    : rgba(255,255,255,1);
}
fieldset>input~legend label::before{
	color        : rgba(255,255,255,0.3);
	content      : "⯈ ";
}
fieldset>input:checked~legend label::before{
	color        : rgba(255,255,255,0.6);
	content      : "⯆ ";
}
fieldset>input~section,fieldset>input~ul,fieldset>input~fieldset{
	display : none;
}
fieldset>input:checked~section,fieldset>input:checked~ul,fieldset>input:checked~fieldset{
	display : grid;
  	opacity : 1;
}
/*===================================*/
/* TABS                              */
/*===================================*/
fieldset.tabs legend{
	background  : none;
	padding     : 0;
	margin      : 0 0 0 -17px;
}
fieldset.tabs input:checked+label{
	color       : rgba(255,255,255,1);
	border      : none;
	top         : 0;
	height      : 20px;
}
fieldset.tabs section{
	margin-top  : 5px;
}
fieldset.tabs section,fieldset.single section{
	grid        : none / 1fr;
}
fieldset.tabs legend label{
	position    : relative;
	border      : 1px solid rgba(255,255,255,0.2);
	top         : 5px;
	left        : -3px;
	padding     : 5px 10px 5px 10px;
	border-radius: 6px;
	background  : #153567;
	color       : rgba(255,255,255,0.4);
}
fieldset.tabs legend label:first-of-type{
	left        : 0;
}
fieldset.tabs input[type=radio]{
	display     : none;
}